.socialMediaIconCon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: inset 0 0 13px 12px rgba(0, 0, 0, 0.4);
}

.iconsHoldingCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    height: 100%;
}

.socialMediaIconCon svg{
    height: 80px;
    width: 80px;
}

.socialMediaIconCon:hover{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.phoneIcon{
    max-height: 70px;
    max-width: 70px;
}




@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .socialMediaIconCon{
        height: 80px;
        width: 80px;
    }

    .socialMediaIconCon svg{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .iconsHoldingCon{
        gap: 10px;
    }

    .socialMediaIconCon{
        height: 60px;
        width: 60px;
    }

    .socialMediaIconCon svg{
        height: 40px;
        width: 40px;
    }
}
