.headerMianCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.logoImg{
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
}

.navLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navLinksBtns{
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    background-color: transparent;
    border: none;
    text-decoration: none;
}


.navLinksBtns:hover, 
.navLinksBtns:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

.navLinksBtns:hover{
    color: black;
    background: white;
    font-weight: 600;
    border-radius: 20px;
} 

.navLinksBtnSelected{
    color: black;
    background: white;
    font-weight: 600;
    border-radius: 20px;
} 

.menuIconMainCon{
    display: none;
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .headerMianCon{
        padding: 4px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .menuIconMainCon{
        display: none;
    }

    .logoImg{
        height: 30px;
        width: 30px;
    }

    .navLinksBtns{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .headerMianCon{
        padding: 4px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .menuIconMainCon{
        display: flex;
        position: relative;
    }

    .menuIcon{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .navLinks{
        display: none;
    }

    .mobileNavDropdown{
        position: absolute;
        top: 40px;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: rgb(61, 61, 61);
        padding: 10px;
        border-radius: 10px;
        gap: 8px;
        min-width: 120px;
    }

    .navLinksBtns{
        color: white;
        font-size: 20px;
        padding: 2px;
        padding-left: 6px;
        background-color: transparent;
        font-weight: 500;
        width: 100%;
    }


    .navLinksBtns:hover, 
    .navLinksBtns:focus {
        animation: pulse 1s;
        box-shadow: 0 0 0 2em rgba(#fff,0);
        font-weight: 600;
    }

    .logoImg{
        height: 30px;
        width: 30px;
    }
}