.navBarMainCon{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.navBarTopCon{
    /* background-color: aqua; */
    padding-left: 1rem;
    padding-top: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: black;
}

.navBarSubButtonsCon,
.navBarButtonsCon{
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.navBarSubButtonsCon::-webkit-scrollbar,
.navBarButtonsCon::-webkit-scrollbar {
  display: none;
}

.navBarSubButtonsCon{
    padding: 6px;
    background-color: rgb(5, 125, 125);
    padding-left: 10px;
    padding-right: 10px;
    max-width: calc(100% - 10px);
}

.navBarButton{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(110, 110, 110);
    font-weight: 600;
    padding: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 22px;
    white-space: nowrap;
    color: white;
}

.selectednavButton{
    border-color: white;
    background-color: #057d7d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navBarSubTabButton{
    background-color: transparent;
    border: none;
    font-weight: 600;
    padding: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 22px;
    white-space: nowrap;
    color: white;
    border-radius: 30px;
}

.selectednavSubTabButton{
    background-color: white;
    color: black;
}

.navBarHeading{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.navBarPara{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}


@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .navBarHeading{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .navBarPara{
        font-size: 14px;
    }
    
    .navBarButton{
        /* border-width: 4px; */
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    
    .navBarSubTabButton{
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .navBarHeading{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .navBarPara{
        font-size: 12   px;
    }
}