.mainBlock{
    border: 1px solid gray;
    border-radius: 10px;
    width: 97%;
    height: calc(100vh - 80px);
    margin-top: 6px;
    /* padding: 10px; */
    position: relative;
    background-color: rgba(0,0,0, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  margin: 10px;
  margin-right: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 182, 182); 
}

.cardsHoldingCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    height: 100%;
}

.sectionCard{
    width: 380px;
    height: 280px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.sectionCardImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.4s ease;
    transition-property: all;
    transform: scale(1);
}

.sectionCardImage:hover{
    transform: scale(1.1);
}

.sectionCardContantCon{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionCardHeading{
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 10px;
}

.sectionCardButton{
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 1rem;
    color: white;
    background-color: transparent;
}

.pageContantBlock{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-top: 200px;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
    /* max-height: 620px; */
    margin-top: auto;
    padding-bottom: 1rem;
}


.detailsPageMainBlock{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.topMainBlock{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.coverImageCon{
    width: 50%;
    height: 500px;
    position: relative;
    border-radius: 10px;
    min-width: 500px;
}

.detailsPageCoverImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.topMainRightBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noteText{
    margin-bottom: 1rem;
    font-size: 26px;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: black;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.breadCrum{
    margin-bottom: 1rem;
}

.breadCrumText{
    font-size: 22px;
}

.detailsHeading{
    font-size: 44px;
}

.subHeading{
    font-size: 38px;
    margin-bottom: 1rem;
}

.detailsContantKey{
    font-size: 28px;
}

.detailsContantValue{
    color: aqua;
}

.pointsCon{
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.bulletPoints{
    font-size: 28px;
    padding-bottom: 0.5rem;
}

