.mainBlock{
    border: 1px solid gray;
    border-radius: 10px;
    width: 97%;
    height: calc(100vh - 60px);
    margin-top: 6px;
    /* padding: 10px; */
    position: relative;
    background-color: rgba(0,0,0, 0.4);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  margin: 10px;
  margin-right: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: aqua; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 182, 182); 
}

.cardsHoldingCon{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    /* height: 100%; */
    padding: 10px;
}

.sectionCard{
    width: 380px;
    height: 280px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.sectionCardContantCon{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionCardHeading{
    font-size: 26px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 10px;
}

.sectionCardButton{
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 1rem;
    color: white;
    background-color: transparent;
    white-space: nowrap;
}

.pageContantBlock{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-top: 200px;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
    /* max-height: 620px; */
    margin-top: auto;
    padding-bottom: 1rem;
}


.detailsPageMainBlock{
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

.topMainBlock{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.coverImageCon{
    max-width: 300px;
    height: 250px;
    position: relative;
    border-radius: 10px;
    min-width: 300px;
}

.detailsPageCoverImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.topMainRightBlock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.noteText{
    margin-bottom: 1rem;
    font-size: 26px;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: black;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.breadCrum{
    margin-bottom: 1rem;
}

.breadCrumText{
    font-size: 22px;
}

.detailsHeading{
    font-size: 44px;
}

.subHeading{
    font-size: 38px;
    margin-bottom: 1rem;
}

.detailsContantKey{
    font-size: 28px;
}

.detailsContantValue{
    color: aqua;
}

.detailsContantBoxKey{
    font-size: 18px;
    background: #fafafa;
    color: black;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    box-shadow: inset 0 0 17px 0px #888888;
    padding-left: 1rem;
    padding-right: 1rem;
}

.detailsContantBoxValue{
    white-space: nowrap;
    text-wrap: nowrap;
    font-size: 20px;
    font-weight: 600;
}

.pointsCon{
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.bulletPoints{
    font-size: 28px;
    padding-bottom: 0.5rem;
}

.notFoundMainCon{
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFoundMainCon p{
    color: white;
    font-size: 30px;
}

.notFoundImage{

}

.notFoundButton{
    padding: 6px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    background: rgb(3, 164, 164);
    border-radius: 4px;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}

.detailsTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td, .th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  padding: 10px;
}

.th{
    background-color: rgb(3, 80, 80);
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
}

.tr:nth-child(even) {
  background-color: #313131;
}

.staticFirstCol{
    position: sticky;
    left: 0;
    width: 200px;
}

.tableImageCon{
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

.tableColImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.shopHeading{
    color: white;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.shopPara{
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.priceDetailsBox{
    border-radius: 10px;
    gap: 1rem;
    /* padding: 10px 10px 10px 1.5rem; */
    display: inline-block;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: inset 0 0 17px 0px #888888; */
}

.sectionCardImage{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    transition: transform 0.4s ease;
    transition-property: all;
    transform: scale(1);
    margin: auto;
    object-fit: contain;
}

.sectionCardImage:hover{
    transform: scale(1.1);
}

@media only screen and (min-width: 601px) and (max-width: 1400px) {
    .sectionCard{
        width: 260px;
        height: 180px;
        border-radius: 6px;
    }

    .sectionCardHeading{
        font-size: 18px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .sectionCardButton{
        padding: 4px;
        font-size: 18px;
        margin: 6px;
        line-height: normal;
    }

    .pageContantBlock{
        padding-top: 180px;
        padding-left: 1rem;
        gap: 10px;
        padding-bottom: 1rem;
    }
    
    .detailsPageMainBlock{
        padding: 10px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .topMainBlock{
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .detailsHeading{
        font-size: 30px;
    }

    .detailsContantKey{
        font-size: 22px;
    }

    .noteText{
        margin-bottom: 1rem;
        font-size: 22px;
        padding: 0.3rem;
        border-radius: 4px;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
        margin-top: 10px;
    }

    .breadCrumText{
        font-size: 18px;
    }

    .subHeading{
        font-size: 28px;
        margin-bottom: 1rem;
    }

    .bulletPoints{
        font-size: 20px;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .pageContantBlock{
        padding-top: 180px;
        padding-left: 1rem;
        gap: 10px;
        padding-bottom: 1rem;
    }
    .sectionCard{
        width: 200px;
        height: 150px;
        border-radius: 4px;
    }
    .detailsPageMainBlock{
        padding: 10px;
        padding-left: 5rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .topMainBlock{
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .detailsHeading{
        font-size: 26px;
    }

    .subHeading{
        font-size: 24px;
        margin-bottom: 1rem;
    }
}